html, body {
	background-color: #000;
	width: 100%;
	height: 100%;
	color: #fff !important;
	font-family: 'IM Fell Double Pica', serif;
}

button {
	font-family: 'IM Fell Double Pica', serif
}

* {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

h1, h2, h3 {
	text-align: center;
}

h2 {
	font-size: 48px;
}

.number-row {
	margin: 50px 0;
}

.number-row .column {
	width: 24.2%;
	display: inline-block;
	text-align: center;
}

.column p {
	font-size: 96px;
	margin: 0;
}

.button-container {
	padding: 50px;
	text-align: center;
}

.submit-button {
	width: 160px;
	height: 60px;
	border: none;
	border-radius: 10px;
	color: #000;
	font-size: 24px;
	background-color: #fff;
}

.overlay {
	width: 100%;
	height: 100%;
	display: none;
}

.message {
	text-align: center;
	margin-top: 160px;
}

.susan-name {
	font-size: 64px;
}